<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.gravitykerala.universityofcalicut" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <permission
        android:name="in.gravitykerala.universityofcalicut.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.gravitykerala.universityofcalicut.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.gravitykerala.universityofcalicut" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeDrawer"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
        </activity>
        <activity
            android:name=".PareekshaBhavanActivity"
            android:label="@string/title_activity_pareeksha_bhavan" />
        <!-- <activity -->
        <!-- android:name=".DetailActivity" -->
        <!-- android:label="@string/title_activity_detail"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".HomeDrawer" /> -->
        <!-- </activity> -->
        <activity
            android:name=".Authorities"
            android:label="@string/title_activity_authorities" />
        <activity
            android:name=".Syllabus"
            android:label="@string/title_activity_syllabus" />
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result" />
        <activity
            android:name=".TimeTable"
            android:label="@string/title_activity_time_table" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".VC"
            android:label="@string/title_activity_vc">
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="Notifications">
        </activity>
        <activity
            android:name=".TalktoVC"
            android:label="@string/title_activity_talkto_vc" />
        <activity
            android:name=".VCsProgramme"
            android:label="@string/title_activity_vcs_programme" />
        <activity
            android:name=".VCsProfile"
            android:label="@string/title_activity_vcs_profile" />
        <activity
            android:name=".News"
            android:label="@string/title_activity_news" />
        <activity
            android:name=".UniversityOrders"
            android:label="@string/title_activity_university_orders" />
        <activity
            android:name=".PareekshaBhavan_Notifications"
            android:label="@string/title_activity_pareeksha_bhavan__notifications" />
        <activity
            android:name=".Dist_Edu_Notifications"
            android:label="@string/title_activity_dist__edu__notifications" />
        <activity
            android:name=".ContactClass"
            android:label="@string/title_activity_contact_class" />
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact" />
        <activity
            android:name=".StudyMaterials"
            android:label="@string/title_activity_study_materials" />
        <activity
            android:name=".QuestionBank"
            android:label="@string/title_activity_question_bank" />
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Helpline"
            android:label="@string/title_activity_helpline" />
        <activity
            android:name=".AdministrativeNumbers"
            android:label="@string/title_activity_administrative_numbers" />
        <activity
            android:name=".AcademicSection"
            android:label="@string/title_activity_academic_section" />
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback" />
        <activity
            android:name=".SetPrefrence"
            android:label="@string/title_activity_set_prefrence" />
        <!-- android:label="@string/title_activity_feedback"/> -->
        <activity
            android:name=".CourseSelectActivity"
            android:label="@string/title_activity_course_select" />
        <activity
            android:name=".NewNotificationActivity"
            android:label="@string/title_activity_course_select" />
        <activity
            android:name=".OnlineReg_epayment"
            android:label="@string/title_activity_online_reg_epayment" />
        <activity
            android:name=".CoursesOffered"
            android:label="@string/title_activity_courses_offered"></activity>
            android:label="@string/title_activity_online_reg_epayment" />

    </application>

</manifest>
